<h3>Update User Profile</h3>


<div class="row">
    
      <div class="col-md-10">
               <ul class="list-group">
                <div class="girl">
                
                <li class="list-group-item" name="u_name">Name:-<input type="text" id="usr"></li>

                  <li class="list-group-item" name="u_email">Email:-<input type="text" id="usr"></li>

                  
                  <li class="list-group-item" name="u_qual">Qualification:-<input type="text" id="usr"></li>

            
                  <li class="list-group-item" name="u_passyear">Pass out Year:-<input type="text" id="usr"></li>

                  
                  <li class="list-group-item" name="u_course">ICTAK Course:-<input type="text" id="usr"></li>
        
            
                  <li class="list-group-item" name="u_status">Employment Status:-<input type="text" id="usr"></li>

                  
                  <li class="list-group-item" name="u_place">Place:-<input type="text" id="usr"></li>

                  
                  <li class="list-group-item" name="u_mark">Exit Exam Mark:-<input type="text" id="usr"></li>

                  <li class="list-group-item"  name="u_img">Image:-<input type="file" id="usr"></li>

                  <button class="btn btn-primary" style="cursor:pointer" (click)="save()" >Save</button>
                  </div>
               </ul>
       </div>
</div>

