<h3>Update Student Profile</h3>
<div class="row">
    
      <div class="col-md-10" >
               <ul class="list-group">
                   <div class="boy">
                
                <li class="list-group-item"  name="s_name">Student Name:-<input type="text" id="std"></li>

                  
                  <li class="list-group-item"  name="s_email">Email:-<input type="text" id="std"></li>

                  
                  <li class="list-group-item"  name="s_phone">Phone:-<input type="text" id="std"></li>

    
                  <li class="list-group-item"  name="s_address">Address:-<input type="text" id="std"></li>

                  
                  <li class="list-group-item"  name="s_qual">Highest Qualification:-<input type="text" id="std"></li>

            
                  <li class="list-group-item"  name="s_passyear">Pass out Year:-<input type="text" id="std"></li>

                  
                  <li class="list-group-item" name="s_skill">Skill Set:-<input type="text" id="std"></li>

                  
                  <li class="list-group-item"  name="s_status">Employment Status:-<input type="text" id="std"></li>

                  
                  <li class="list-group-item"  name="s_tech">Technology Training:-<input type="text" id="std"></li>

                  
                  <li class="list-group-item"  name="s_year">Year:-<input type="text" id="std"></li>

                   
                   <li class="list-group-item"  name="s_course">Course:-<input type="text" id="std"></li>

                   <li class="list-group-item"  name="s_img">Image:-<input type="file" id="std"></li>

                   <button class="btn btn-warning" style="cursor:pointer" (click)="out()">Save</button>

                </div>

               </ul>
       </div>
</div>
