
<div class='card'>
   <form>
 <div class='card-header'>
  <b>Update Student Profile</b> 
 </div>
 <div class='card-body'>            
 <div class='table-responsive'>
   <table class='table'>       
     <tbody>  
         <tr>
             <td> <label>Name</label></td>
             <td><input type="text" name="s_name"/></td>                  
           </tr>   
           <tr>
               <td><label>Email</label></td>
               <td><input type="text" name="s_email"/></td>                  
             </tr>  
             <tr>
               <td><label>Address</label></td>
               <td><input type="text" name="s_add"/></td>                  
             </tr> 
             <tr>
               <td><label>Highest Qualification</label></td>
               <td><input type="text" name="s_Qual"/></td>                  
             </tr>  
             <tr>
               <td><label> Pass out year</label></td>
               <td><input type="text" name="s_pass"/></td>                  
             </tr>  
             <tr>
               <td><label>Skill Set</label></td>
               <td><input type="text" name="s_skill"/></td>                  
             </tr> 
             <tr>
               <td> <label>Employment Status</label></td>
               <td><input type="text" name="s_status"/></td>                  
             </tr>  
             <tr>
               <td><label>Technology Training</label></td>
               <td><input type="text" name="s_tech"/></td>                  
             </tr> 
             <tr>
               <td><label>Year</label></td>
               <td><input type="text" name="s_year"/></td>                  
             </tr> 

             <tr>
               <td><label>Course</label></td>
               <td><input type="text" name="s_course"/></td>                  
             </tr>  
               
             <tr>
               <td> <label>Place</label></td>
               <td><input type="text" name="u_place"/></td>                  
             </tr>  
               <tr>
               <td><label>Image</label></td>
               <td><input type="file" name="s_image"/></td>                  
             </tr>  
             <tr>
               <td></td>
               <td><input type="submit" class="btn btn-primary" value="Submit" (click)="updateStudent()"/></td>                  
             </tr>             
     </tbody>
   </table>
 </div>
 </div>
 </form>
 </div>
