.row{
    margin-left: 150px;
}
.boy{
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#std{
    margin: auto;
    width: 900px;
}